@model IEnumerable<LegoTrainManager.Models.Train>

@{
    ViewData["Title"] = "Index";
}

<h1>Index
    <a class="btn-warning btn-lg" type="submit" asp-controller="Trains" asp-action="ShutDownAllTrains" style="float: right;">
        <i class="bi bi-power btn-lg mw-100 mh-100"></i>
    </a>
</h1>


<table class="table" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteryVoltage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastConnectionTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Online)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceType)
            </th>
            <th>
                @Html.DisplayName("Actions")
            </th>
        </tr>
    </thead>
    <tbody>
    <a class="btn-warning btn-lg" type="submit" asp-controller="Trains" asp-action="EmergencyStopAllTrains" >
            <i class="bi bi-sign-stop-fill btn-lg mw-100 mh-100"></i>
    </a>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryVoltage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastConnectionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Online)
            </td>
            <td>
                @*<input class="form-check-input" type="checkbox" asp-for="@item.Invert"  />*@
                @Html.CheckBoxFor(modelItem => item.Invert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceType)
            </td>
            <td>
                <a class="btn-primary btn-lg" type="submit" asp-controller="Trains" asp-action="TrainControl" asp-route-id="@item.Id" asp-route-speed="-100">
                    <i class="bi bi-rewind-btn"></i>
                </a>
                <a class="btn-primary btn-lg" type="submit" asp-controller="Trains" asp-action="TrainControl" asp-route-id="@item.Id" asp-route-speed="-50">
                    <i class="bi bi-caret-left-square"></i>
                </a>
                <a class="btn-primary btn-lg" type="submit" asp-controller="Trains" asp-action="TrainControl" asp-route-id="@item.Id" asp-route-speed="0">
                    <i class="bi bi-stop-btn"></i>
                </a>
                <a class="btn-primary btn-lg" type="submit" asp-controller="Trains" asp-action="TrainControl" asp-route-id="@item.Id" asp-route-speed="50">
                    <i class="bi bi-caret-right-square"></i>
                </a>
                <a class="btn-primary btn-lg" type="submit" asp-controller="Trains" asp-action="TrainControl" asp-route-id="@item.Id" asp-route-speed="100">
                    <i class="bi bi-fast-forward-btn"></i>
                </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
    }
    </tbody>
</table>
